extends layout

block content
  .center-box.center 
    #success Your account has been successfully activated!<br>You can now <a href="/">sign in</a> with your email as the username.<br>The default employee account name is <strong>Admin</strong> and the PIN is <strong>0000</strong>
    