extends layout

block content
  #app
    nav
      #logo
        div
      #brand EnterpriseApps
      #menu-top
        #profile Profile
        #sign-out Sign out
    #menu-left
      #menu-header
        div
      #menu-body
        button.menu-item
        button.menu-item
        button.menu-item
    #main
      #col-1
        #live-search
          input#search(placeholder='Search', autocomplete='off')
          ul#dropdown
        input#price-input(placeholder='0.00', maxlength='9')
        #sale-groups
          button.sg.food Food
          button.sg.vegetable Vegetable
          button.sg.drinks Drinks
          button.sg.alcohol Alcohol
          button.sg.tobacco Tobacco
          button.sg.press Press
          button.sg.drugs Drugs
          button.sg.uncategorized Uncategorized
        #quick-sales
          .qs-item
            button Brown Bread
            .qs-id qs1
            .qs-price 19.00
            .qs-group Food
            .qs-tax 15
            .qs-tags Baked, Whole
            .qs-desc Black round bread baked in Czech
          .qs-item
            button Roll Bread
            .qs-id qs2
            .qs-price 3.00
            .qs-group Food
            .qs-tax 15
            .qs-tags Baked, Wheat
            .qs-desc A regular roll bread made in Czech
          .qs-item
            button RoundBreadRoundBreadRoundBreadRoundBreadRoundBreadRoundBread
            .qs-id qs3
            .qs-price 3.00
            .qs-group Food
            .qs-tax 15
            .qs-tags Baked, Wheat
            .qs-desc A common small white bread
          .qs-item
            button Croissant
            .qs-id qs4
            .qs-price 12.00
            .qs-group Food
            .qs-tax 15
            .qs-tags Baked, Wheat, Sweet
            .qs-desc Baked butter flavored croissant
          .qs-item
            button Beer Bottle
            .qs-id qs5
            .qs-price 3.00
            .qs-group
            .qs-tax 0
            .qs-tags Beer, Bottle, Glass
            .qs-desc 3.00 CZK for a Beer Bottle
          .qs-item
            button Refund Bottle
            .qs-id qs6
            .qs-price -3.00
            .qs-group
            .qs-tax 0
            .qs-tags Refund, Bottle
            .qs-desc Refund 3.00 CZK for a beer bottle
      #col-2
        #checkout-header
          #checkout-label CHECKOUT (0 items)
          #checkout-total Total: 0 Kč
        #checkout-btns
          button#park-sale Park Sale
          button#discard-sale Discard Sale
        ul#sale-list
          li#si-placeholder
            div Registered items will be displayed here
        button#pay
          span Pay
          span#pay-amount 0 Kč
    #registry-session 1
  #kc 0
  audio#beep
    source(src='sound/beep2.mp3')
    