extends layout

block content
  #app
    nav
      #logo
        div
      #brand EnterpriseApps
      #menu-top
        #profile Profile
        #sign-out Sign out
    #menu-left
      #menu-header
        div
      #menu-body
        button.menu-item
        button.menu-item
        button.menu-item
    #registry-session 1
  #kc 0
  button#login Login
  audio#beep
    source(src='sound/beep2.mp3')
    