extends layout

block content
  #app
    nav
      #logo
        div
      #brand EnterpriseApps
      #menu-top
        #profile Profile
        #sign-out Sign out
    #menu-left
      #menu-header
        div
      #menu-body
        button.menu-item
        button.menu-item
        button.menu-item
    #main
      #col-1
        #live-search
          input#search(placeholder='Search', autocomplete='off')
          ul#dropdown
        input#price-input(placeholder='0.00', maxlength='9')
        #sale-groups
        #quick-sales
      #col-2
        #checkout-header
          #checkout-label CHECKOUT (0 items)
          #checkout-total Total: 0 Kč
        #checkout-btns
          button#park-sale Park Sale
          button#discard-sale Discard Sale
        ul#sale-list
          li#si-placeholder
            div Registered items will be displayed here
        button#pay
          span Pay
          span#pay-amount 0 Kč
    #registry-session 1
  #kc 0
  audio#beep
    source(src='sound/beep2.mp3')
    