doctype html
// Author: Nguyen Viet Bach <nvbach91@outlook.com>
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='plugin/colpick.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    //link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese', rel='stylesheet', type='text/css')
  body    
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='js/jquery-2.2.1.min.js')
    script(src='js/build.js')
    script(src='plugin/colpick.js')
    block content