extends layout

block content
  .center-box 
    #success Your new password is <strong>#{msg}</strong><br>You can now <a href="/">sign in</a><br>You should then change your password in the Control Panel
    