extends layout

block content
  .center-box 
    #success Your new temporary password is <strong>#{msg}</strong><br>You can now <a href="/">sign in</a><br>Please change your password in the Control Panel
    